body {
  font-family: 'Barlow', sans-serif;
  background: #fff;
  font-size: 18px;
  color: #000;
  line-height: 1.2;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
span:focus,
span:active,
button:focus,
button:active {
  outline: none;
}

select:focus,
select:hover,
option:hover,
option:focus {
  outline: none;
}
.wrapper {
  max-width: 560px;
  margin: 0 auto;
  padding: 0 30px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}